body {
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero {
    background: #ebebeb;
    border-radius: 15px;
    width: 100%;
}

.table {
    /*padding: 50px;*/
    width: 80%;
}

.board {
    width: 20%;
}

.qs {
    display: flex;
    width: 100%;
}