body {
    padding-top: 100px;
    width: 100vw;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.hero {
    background: #f4f4f4;
    border-radius: 15px;
    width: 100%;
}


.qs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tables {
    /*padding: 50px;*/
    width: 75%;
}

.table {
    /*width: 100%;*/
}

.board {
    width: 20%;
    /*height:400px;*/
}
