body {
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero {
    background: #f4f4f4;
    border-radius: 15px;
    width: 100%;
}

.leaderboard-empty{
    margin: 16px;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 32px;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

table {
    width: 80%;
}